

<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
<div class="col-md-10">
  <div class="main-box">
    <div class="idea-image">
     <%= image_tag @picture.photo.url(:medium) %>
   </div>
    <p>
      <%= label_tag 'タイトル' %>
      <%= @picture.title %>
    </p>
    <p>
      <%= label_tag 'アピール文' %>
      <%= @picture.description %>
    </p>
    <p>
      <%= label_tag '求めている人物' %>
      <%= @picture.required_user %>
    </p>
  </div>
</div>
<% if false %>
<%= link_to 'Edit', edit_picture_path(@picture) %>
<%= link_to 'Back', pictures_path %>
<% end %>
<div class="col-md-2">
   aaaa
</div>
</div>
</div>
